@import "tailwindcss";

#root {
  
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

table {
  width: 100%;
  border-radius: 25px;
  background: #ffffff;
  padding: 20px;
  height: 100%;
  font-family: sans-serif;
  font-size: 0.8rem;
  letter-spacing: 1px;
  table-layout: fixed;
}

thead {
  position: sticky;
  top: 0; 
}

table tr:not(:last-child) {
  border-bottom: 1px solid gray;
}

tfoot {
  background-color: rgb(228 240 245);
}

th,
td {
  border: none;
  padding: 8px;
}

.my-table {
  border-collapse: collapse;
  width: 100%;
}

.my-table tr:not(:last-child) {
  border-bottom: 1px solid gray;
}

.my-table td {
  border: none;
  padding: 8px;
}

.my-table th {
  border: none;
  padding: 12px;
}



* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
}


.menu-bars {
  margin-left: 2rem;
  font-size: 2rem;
  background: none;
  color: #000;
}

.nav-menu {
  background-color: #FAF9F7;
  width: 250px;
  height: 100vh;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  left: -100%;
  transition: 850ms;
}

.nav-menu.active {
  left: 0;
  transition: 450ms;
}

.nav-menu {
  background-color: #FAF9F7;
  width: 250px;
  height: 100vh;
  padding: 8px; 
  box-sizing: border-box;
}

.nav-menu.active {
  width: 250px;
}

.nav-text {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 8px 0;
  list-style: none;
  height: 48px;
  margin: 0 8px 4px 8px;
  border-radius: 6px;
}

.nav-text-2 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 8px 0px 8px 16px;
  list-style: none;
  height: 44px;
  margin: 0 12px 4px 28px;
  border-radius: 6px;
}

.nav-text a, .nav-text div, .nav-text-2 a, .nav-text-2 div  {
  text-decoration: none;
  color: #151414;
  font-size: 16px;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 12px;
  border-radius: 6px;
  
}

.nav-text:hover, .nav-text:hover, .nav-text-2:hover, .nav-text-2:hover {
  background-color: #D5D4CF;
}

.nav-menu-items {
  width: 100%;
  padding: 0;
  margin: 0;
}

.nav-text.active, .nav-text-2.active {
  background-color: #D5D4CF;

}

span {
  margin-left: 12px;
}

